
/*
!wp-content/

wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins
!wp-content/themes


wp-content/mu-plugins/*
wp-content/plugins/*
wp-content/themes/*


*.log
*.sql
*.sqlite
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


!.gitignore
!README.md

#whitelist to be tracked
!wp-content/themes/newtheme
